/data/aieqpha.dat
/data/aieqs.lst
/data/Associate_ALL_YnYb_0501_0601.log
/data/bulletinPrint.txt
/image/diff.png
/image/indicator_report.txt
/image/loc_lat_dep.png
/image/loc_lon_dep.png
/image/loc_lon_lat.png
/image/Mag_hist.png
/data/maneqpha.dat
/data/maneqs.lst
/image/mt.png
/image/phatimediff.png
/data/QH_AI.log
/data/QH_man.txt
/data_2/SC_AI(1).log
/data/SC_AI2.log
/data_2/SC_man(1).txt
/data/SC_man2.txt
/.idea/workspace.xml
/data/YN-man-1030.txt
/data/YN_ai_1030.txt
